<div class="project-page">
  <div class="project-portrait text-center">
    <%= image_tag ("thanh-portrait-drawing.png"), class: "photo-portrait" %>
  </div>
  <div class="project-title text-center">
    <h1>Mon Histoire</h1>
  </div>
  <div class="project-story text-center">
    <p>Mon histoire avec le cancer a commencé en Mars 2017 lorsque j'ai été diagnostiquée d'un cancer du sein de type triple négatif et de grade III à l'age de 26 ans. Lorem ipsum dolor amet tumblr affogato taxidermy four loko, mlkshk copper mug fashion axe kickstarter 3 wolf moon listicle poke. Iceland pop-up chambray swag copper mug brunch keffiyeh tote bag. Dreamcatcher farm-to-table drinking vinegar pok pok master cleanse next level. YOLO letterpress kitsch, scenester edison bulb prism flexitarian godard seitan.</p>
  </div>
  <div class="project-title text-center">
    <h1>Mon Projet</h1>
  </div>
  <div class="project-description text-center">
    <div class="project-subdescription text-center">
      <div class="project-subtitle text-center">
        <h4>La naissance du projet</h4>
      </div>
      <p>Lorem ipsum dolor amet tumblr affogato taxidermy four loko, mlkshk copper mug fashion axe kickstarter 3 wolf moon listicle poke. Iceland pop-up chambray swag copper mug brunch keffiyeh tote bag. Dreamcatcher farm-to-table drinking vinegar pok pok master cleanse next level. YOLO letterpress kitsch, scenester edison bulb prism flexitarian godard seitan.</p>
    </div>
    <div class="project-subdescription text-center">
      <div class="project-subtitle text-center">
        <h4>La création du site</h4>
      </div>
      <p>Lorem ipsum dolor amet tumblr affogato taxidermy four loko, mlkshk copper mug fashion axe kickstarter 3 wolf moon listicle poke. Iceland pop-up chambray swag copper mug brunch keffiyeh tote bag. Dreamcatcher farm-to-table drinking vinegar pok pok master cleanse next level. YOLO letterpress kitsch, scenester edison bulb prism flexitarian godard seitan.</p>
    </div>
  </div>
  <div class="project-illustrations">
    <%= image_tag ("comment-lire-mes-examens-de-diagnostic.png"), class: "project-illustrations-photos" %>
    <%= image_tag ("est-ce-que-c-est-grave.png"), class: "project-illustrations-photos" %>
  </div>
</div>
