<h1 id="page_title">Une question, une pensée, juste une envie d'écrire ? N'hésitez pas à me contacter.</h1>


<div class="skinny_wrapper wrapper_padding">
  <h1>Merci pour votre message !</h1>
  <p>Je reviens vers vous dès que possible.</p>
</div>
