$nadeshiko-pink: #F5B0CB;
$melon: #FAB3A9;
$fluo-pink: #E53CBC;

/* hi-res laptops and desktops */
@media (min-device-width: 1281px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
    p {
      font-size: 30px;
    }
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
    p {
      font-size: 30px;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  .butt-pink {
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    font-weight: bold;
    background: $fluo-pink;
    transition: background 0.3s ease;
  }
  .butt-pink:hover {
    opacity: 1;
    background: $melon;
    text-decoration: none;
    color: white;
  }

  .butt-test {
    display: flex;
    justify-content: center;
    p {
      font-size: 30px;
    }
  }
}
