$nadeshiko-pink: #F5B0CB;
$melon: #FAB3A9;

.butt-pink {
  color: white;
  padding: 20px 20px;
  border-radius: 50px;
  font-weight: bold;
  background: $nadeshiko-pink;
  transition: background 0.3s ease;
}
.butt-pink:hover {
  opacity: 1;
  background: $melon;
  text-decoration: none;
  color: white;
}

.butt-test {
  display: flex;
  justify-content: center;
}
