$fluo-pink: #E53CBC;
$light-pink: #FFE4EF;
$melon: #FAB3A9;
$tango-pink: #EF7674;
$pale-pink: #FFDDDD;
$beige: #FADEDE;

/* hi-res laptops and desktops */
@media (min-device-width:1281px) {
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    h3 {
      margin-top: 30px;
      width: 340px;
      color: black;
      height: 60px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 350px;
      height: 80px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .round {
    background-color: $fluo-pink;
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    h3 {
      margin-top: 30px;
      width: 340px;
      color: black;
      height: auto;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 350px;
      height: 80px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .round {
    background-color: $fluo-pink;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    h3 {
      margin-top: 30px;
      width: 280px;
      color: black;
      height: 100px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 280px;
      height: 230px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .round {
    background-color: $fluo-pink;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin-top: 30px;
      width: 750px;
      color: black;
      height: auto;
      font-size: 35px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 700px;
      height: auto;
      font-size: 30px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .round {
    background-color: $fluo-pink;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }

  .page-questions-card-item {
    margin-bottom: 20px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px){
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin-top: 30px;
      width: 750px;
      color: black;
      height: auto;
      font-size: 35px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 700px;
      height: 170px;
      font-size: 30px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .round {
    background-color: $fluo-pink;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }

  .page-questions-card-item {
    margin-bottom: 20px;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px){
  .page-questions-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .page-questions-row {
    margin-top: 80px;
  }

  .page-questions-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin-top: 30px;
      width: 750px;
      color: black;
      height: auto;
      font-size: 35px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 30px;
      width: 700px;
      height: auto;
      font-size: 30px;
    }
  }

  .page-quotidiens-cards {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .page-quotidiens-cards-item {
    margin-top: 10px;
    background-image: image-url("pink-paint-brush.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .round {
    background-color: $fluo-pink;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    // border: 5px solid white;
    box-shadow: 0.5px 0.5px 0.5px gray;
  }

  .page-entendus-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fluo-pink;
    background-size: cover;
    background-position: center;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }

  .page-questions-card-item {
    margin-bottom: 20px;
  }
}
