.page-questions-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-questions-row {
  margin-top: 80px;
}

.page-questions-card-description {
  h3 {
    margin-top: 30px;
    width: 340px;
    color: black;
    height: 35px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-top: 30px;
    width: 350px;
    height: 80px;
  }
}

.page-quotidiens-cards {
  margin-top: 50px;
}

.page-quotidiens-cards-item {
  margin-top: 10px;
  background-image: image-url("pink-paint-brush.png");
  background-size: contain;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}
