@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

