// Part One of Home Page

.part-one {
  background-color: #F1F1F2;
}

.home-illustration {
  background-image: image-url("home-illustration6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}

// Part Two of Home Page

.snow {
  background-color: #FFF7F7;
}
