$light-pink: #FFE4EF;

/* hi-res laptops and desktops */
@media (min-device-width:1281px) {
  .full-banner {
    background-image: image-url("enter-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-logo {
    opacity: 1;
    height: 100px;

  }

  .small-logo {
    opacity: 1;
    height: 30px;
  }

  .navbar-logo {
    opacity: 1;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .half-page-illustration {
    background-image: image-url("home-illustration6.png");
    background-size: cover;
    background-position: center;
    height: 120vh;
  }

  .dot-two {
    background-image: image-url("dot5.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question-card-image {
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 350px;
  }

  .page-sources-logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .full-banner {
    background-image: image-url("enter-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-logo {
    opacity: 1;
    height: 100px;

  }

  .small-logo {
    opacity: 1;
    height: 30px;
  }

  .navbar-logo {
    opacity: 1;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .half-page-illustration {
    background-image: image-url("home-illustration6.png");
    background-size: cover;
    background-position: center;
    height: 120vh;
  }

  .dot-two {
    background-image: image-url("dot5.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question-card-image {
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 350px;
  }

  .page-sources-logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) and (orientation : landscape) {
  .full-banner {
    background-image: image-url("enter-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-logo {
    opacity: 1;
    height: 100px;
  }

  .small-logo {
    opacity: 1;
    height: 70px;
  }

  .navbar-logo {
    opacity: 1;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .half-page-illustration {
    background-image: image-url("home-illustration6.png");
    background-size: cover;
    background-position: center;
    height: 125vh;
  }

  .dot-two {
    background-image: image-url("dot5.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question-card-image {
    background-size: cover;
    background-position: center center;
    height: 195px;
    width: 280px;
  }

  .page-sources-logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) and (orientation : portrait) {
  .full-banner {
    background-image: image-url("enter-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-logo {
    opacity: 1;
    height: 100px;
  }

  .small-logo {
    opacity: 1;
    height: 70px;
  }

  .navbar-logo {
    opacity: 1;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .half-page-illustration {
    background-image: image-url("home-illustration6.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .dot-two {
    background-image: image-url("dot5.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question-card-image {
    background-size: cover;
    background-position: center center;
    height: 195px;
    width: 280px;
  }

  .page-sources-logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .full-banner {
      background-image: image-url("enter-background.png");
      background-size: cover;
      background-position: center;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .medium-logo {
      opacity: 1;
      height: 100px;
    }

    .small-logo {
      opacity: 1;
      height: 80px;
    }

    .navbar-logo {
      opacity: 1;
      height: 60px;
      margin-top: 5px;
      margin-left: 20px;
    }

    .half-page-illustration {
      background-image: image-url("home-illustration6.png");
      background-size: cover;
      background-position: center;
      height: 200vh;
    }

    .dot-two {
      background-image: image-url("dot5.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .question-card-image {
      background-size: cover;
      background-position: center center;
      height: 300px;
      width: 400px;
    }

    .page-sources-logos {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  .full-banner {
      background-image: image-url("enter-background.png");
      background-size: cover;
      background-position: center;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .medium-logo {
      opacity: 1;
      height: 100px;
    }

    .small-logo {
      opacity: 1;
      height: 80px;
    }

    .navbar-logo {
      opacity: 1;
      height: 60px;
      margin-top: 5px;
      margin-left: 20px;
    }

    .half-page-illustration {
      background-image: image-url("home-illustration6.png");
      background-size: cover;
      background-position: center;
      height: 70vh;
    }

    .dot-two {
      background-image: image-url("dot5.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .question-card-image {
      background-size: cover;
      background-position: center center;
      height: 300px;
      width: 400px;
    }

    .page-sources-logos {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  .full-banner {
    background-image: image-url("enter-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-logo {
    opacity: 1;
    height: 100px;
  }

  .small-logo {
    opacity: 1;
    height: 80px;
  }

  .navbar-logo {
    opacity: 1;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .half-page-illustration {
    background-image: image-url("home-illustration6.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
  }

  .dot-two {
    background-image: image-url("dot5.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question-card-image {
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 400px;
  }

  .page-sources-logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
