
$light-pink: #FFE4EF;

.full-banner {
  background-image: image-url("enter-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.medium-logo {
  opacity: 1;
  height: 60px;
  margin-top: 40px;
}

.navbar-logo {
  opacity: 1;
  height: 60px;
  margin-top: 5px;
  margin-left: 20px;
}

.half-page-illustration {
  background-image: image-url("home-illustration6.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.dot-one {
  background-image: image-url("dot3.png");
  background-size: cover;
  background-position: center;
}
