$fluo-pink: #E53CBC;
$melon: #FAB3A9;
$white-smoke: #F4F4F9;

.index-banner {
  background-image: image-url("liste-background.png");
  background-size: cover;
  background-position: center center;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
}

.index-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index-description {
  margin-top: 50px;
  width: 60%;
}

.index-list {
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}

.index-card-item {
  margin-bottom: 50px;
}

.quotidien-list-item {
  margin-bottom: 30px;
  h3 {
    margin-bottom: 30px;
    color: $fluo-pink;
  }

  p {
    width: 70%;
    border-bottom: 1px solid black;
    padding-bottom: 40px;

  }
  .no-line {
    border-bottom: 0px solid white;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.quotidien-index-list {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 80px;
  background-color: $white-smoke;
}

.quotidien-link {
  color: $melon;
  &:hover {
    color: black;
  }
}
