$fluo-pink: #E53CBC;
$melon: #FAB3A9;

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) and (max-width: 1280px) {
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) and (max-width: 1024px) {
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) and (max-width: 960px){
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) and (max-width: 640px){
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    font-size: 20px;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) and (max-width: 480px){
  .pink-link {
    margin-top: 30px;
    color: $fluo-pink;
    font-size: 20px;
    &:hover {
      color: $melon;
    }
  }

  .page-question-card-link {
    margin-top: 20px;
  }

  .page-entendus-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    background-size: contain;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .page-questions-link {
    margin-top: 30px;
    background-image: image-url("gold-brush-stroke.png");
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}


