// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-pink: #FFE4EF;
$melon: #FAB3A9;

.page-upper-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.page-upper-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-upper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

