// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-pink: #FFE4EF;
$melon: #FAB3A9;
$tango-pink: #EF7674;
$pale-pink: #FFDDDD;
$fluo-pink: #E53CBC;

/* hi-res laptops and desktops */
@media (min-device-width:1281px) {
  .page-upper-left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .page-upper-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
  }

  .page-upper {
    height: 120vh;
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: $pale-pink;
  }

  .page-questions {
    margin-top: 50px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
  }

  .page-quotidien {
    background-image: image-url("liste-background.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }

  .page-quotidien-right {
    width: 50%;
  }

  .page-entendu {
    height: 50vh;
    // background-image: image-url("cloud4.png");
    // background-size: cover;
    // background-position: center;
    display: flex;
    background-color: $light-pink;
  }

  .page-entendu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: black;
      width: 80%;
    }
  }

  .page-entendu-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-items {
    display: flex;
    flex-direction: row;
    a {
      &:hover {
        text-decoration: none;
      }

    }
  }

  .page-sources {
    padding-top: 50px;
    background-image: image-url("cloud2.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page-sources-logos {
    margin-top: 50px;
  }

  .source-logo {
    margin: 20px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px){
  .page-upper-left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .page-upper-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
  }

  .page-upper {
    height: 120vh;
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: $pale-pink;
  }

  .page-questions {
    margin-top: 50px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
  }

  .page-quotidien {
    background-image: image-url("liste-background.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }

  .page-quotidien-right {
    width: 50%;
  }

  .page-entendu {
    height: 50vh;
    // background-image: image-url("cloud4.png");
    // background-size: cover;
    // background-position: center;
    display: flex;
    background-color: $light-pink;
  }

  .page-entendu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: black;
      width: 80%;
    }
  }

  .page-entendu-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-items {
    display: flex;
    flex-direction: row;
    a {
      &:hover {
        text-decoration: none;
      }

    }
  }

  .page-sources {
    padding-top: 50px;
    background-image: image-url("cloud2.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page-sources-logos {
    margin-top: 50px;
  }

  .source-logo {
    margin: 20px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) and (orientation : landscape) {
  .page-upper-left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .page-upper-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
  }

  .page-upper {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: $pale-pink;
  }

  .page-questions {
    margin-top: 50px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-quotidien {
    background-image: image-url("liste-background.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }

  .page-quotidien-right {
    width: 50%;
  }

  .page-entendu {
    height: 50vh;
    // background-image: image-url("cloud4.png");
    // background-size: cover;
    // background-position: center;
    display: flex;
    background-color: $light-pink;
  }

  .page-entendu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: black;
      width: 80%;
    }
  }

  .page-entendu-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-items {
    display: flex;
    flex-direction: row;
    a {
      &:hover {
        text-decoration: none;
      }

    }
  }

  .page-sources {
    padding-top: 50px;
    background-image: image-url("cloud2.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page-sources-logos {
    margin-top: 50px;
  }

  .source-logo {
    margin: 20px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) and (orientation : portrait) {
  .page-upper-left {
    width: 50%;
    flex-direction: column;
    display: flex;
  }

  .page-upper-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
  }

  .page-upper {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: $pale-pink;
  }

  .page-questions {
    margin-top: 50px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-quotidien {
    background-image: image-url("liste-background.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }

  .page-quotidien-right {
    width: 50%;
  }

  .page-entendu {
    height: 50vh;
    // background-image: image-url("cloud4.png");
    // background-size: cover;
    // background-position: center;
    display: flex;
    background-color: $light-pink;
  }

  .page-entendu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: black;
      width: 80%;
    }
  }

  .page-entendu-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-items {
    display: flex;
    flex-direction: row;
    a {
      &:hover {
        text-decoration: none;
      }

    }
  }

  .page-sources {
    padding-top: 50px;
    background-image: image-url("cloud2.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page-sources-logos {
    margin-top: 50px;
  }

  .source-logo {
    margin: 20px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px){
  .page-upper-left {
      height: 400vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $pale-pink;
    }

    .page-upper-right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 !important;
    }

    .page-upper {
      height: 400vh;
      display: flex;
      align-items: center;
      margin-top: 50px;
      flex-direction: column;
    }

    .page-questions {
      margin-top: 80px;
      height: auto;
      margin-bottom: 100px;

      display: flex;
      flex-direction: column;
    }

    .page-quotidien {
      background-image: image-url("liste-background.png");
      background-size: cover;
      background-position: center center;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 50px;
    }

    .page-quotidien-right {
      padding-right: 30px;
      width: 70%;
    }

    .page-entendu {
      height: 120vh;
      // background-image: image-url("cloud4.png");
      // background-size: cover;
      // background-position: center;
      display: flex;
      background-color: $light-pink;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .page-entendu-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: black;
        width: 100%;
      }
    }

    .page-entendu-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-entendu-items {
      display: flex;
      flex-direction: row;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      margin-top: 40px;
    }

    .page-sources {
      background-image: image-url("cloud2.png");
      background-size: cover;
      background-position: center;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .page-sources-logos {
      margin-top: 50px;
    }

    .source-logo {
      margin: 20px;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px){
  .page-upper-left {
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .page-upper-right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 !important;
    }

    .page-upper {
      height: auto;
      display: flex;
      align-items: center;
      margin-top: 50px;
      background-color: $pale-pink;
      flex-direction: column;
    }

    .page-questions {
      margin-top: 80px;
      height: auto;
      margin-bottom: 100px;

      display: flex;
      flex-direction: column;
    }

    .page-quotidien {
      background-image: image-url("liste-background.png");
      background-size: cover;
      background-position: center center;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 50px;
    }

    .page-quotidien-right {
      padding-right: 30px;
      width: 70%;
    }

    .page-entendu {
      height: 40vh;
      // background-image: image-url("cloud4.png");
      // background-size: cover;
      // background-position: center;
      display: flex;
      background-color: $light-pink;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .page-entendu-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: black;
        width: 100%;
      }
    }

    .page-entendu-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-entendu-items {
      display: flex;
      flex-direction: row;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      margin-top: 40px;
    }

    .page-sources {
      padding-top: 50px;
      background-image: image-url("cloud2.png");
      background-size: cover;
      background-position: center;
      height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .page-sources-logos {
      margin-top: 50px;
    }

    .source-logo {
      margin: 20px;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px){
  .page-upper-left {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-upper-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
  }

  .page-upper {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: $pale-pink;
    flex-direction: column;
  }

  .page-questions {
    margin-top: 80px;
    height: auto;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
  }

  .page-quotidien {
    background-image: image-url("liste-background.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }

  .page-quotidien-right {
    padding-right: 30px;
    width: 70%;
  }

  .page-entendu {
    height: 40vh;
    // background-image: image-url("cloud4.png");
    // background-size: cover;
    // background-position: center;
    display: flex;
    background-color: $light-pink;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: black;
      width: 100%;
    }
  }

  .page-entendu-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-entendu-items {
    display: flex;
    flex-direction: row;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    margin-top: 40px;
  }

  .page-sources {
    padding-top: 50px;
    background-image: image-url("cloud2.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page-sources-logos {
    margin-top: 50px;
  }

  .source-logo {
    margin: 20px;
  }
}







