$shampoo: #FFCCFC;
$fluo-pink: #E53CBC;

.question-article {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 150px;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-article-text {
  background-color: white;
}

.question-article-title {
  padding-top: 50px;
  padding-bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: $fluo-pink;
  }
  p {
    width: 60%;
    font-size: 16px;
  }
}

.question-article-banner {
  width: 50%;
  margin-bottom: 100px;
}

hr {
  margin-top: 40px !important;
  margin-bottom: 100px !important;
  border: 0.5px solid black !important;
  // border-top: 1px solid black !important;
  width: 30%;
}

.question-section {
  display: flex;
  margin-top: 30px;
  p {
    padding-left: 20px;
    padding-right: 30px;
  }
  h3 {
    color: $fluo-pink;
  }
}

.quotidien-article-image {
  width: 80%;
}

.quotidien-article-right {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 40px;
    width: 80%;
  }
}

.quotidien-article-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px !important;
}

.quotidien-article-title {
  h1 {
    color: $fluo-pink;
  }

}

.quotidien-article-description {
  p {
    font-size: 16px;
  }
}

.quotidien-article-upper {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  background-color: $shampoo;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 3px 6px 13px 0.5px rgba(143,143,143,1);
}

.quotidien-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
  p {
    padding-left: 20px;
    padding-right: 30px;
  }
  h3 {
    color: $fluo-pink;
  }
}


.quotidien-section-links {
  margin-top: 150px;
}


.partner-logos {
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.show-links {

    color: $shampoo;
    text-decoration: underline;

}

.groupe-de-logos {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

