$fluo-pink: #E53CBC;
$nadeshiko-pink: #F5B0CB;
$melon: #FAB3A9;

/* hi-res laptops and desktops */
@media (min-device-width:1281px) {
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
  }

  .p-small {
    font-size: 16px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 80%;
    }
  }

  .quotidien-title {
    font-size: 15px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
  }

  .p-small {
    font-size: 16px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 80%;
    }
  }

  .quotidien-title {
    font-size: 15px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px){
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      width: 70%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
  }

  .p-small {
    font-size: 16px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 80%;
    }
  }

  .quotidien-title {
    font-size: 15px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px){
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  p .banner-text {
    font-size: 20px;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      width: 70%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
  }

  .p-small {
    font-size: 25px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
      font-size: 25px;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .quotidien-title {
    font-size: 25px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
    h4 {
      font-size: 25px;
    }
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px){
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  p .banner-text {
    font-size: 20px;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      width: 70%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
  }

  .p-small {
    font-size: 25px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
      font-size: 25px;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .quotidien-title {
    font-size: 25px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
    h4 {
      font-size: 25px;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px){
  .banner-title {
    font-size: 70px;
    margin-top: 40px;
  }

  .banner-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }

  p .banner-text {
    font-size: 20px;
  }

  .banner-signature {
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: $fluo-pink;
    &:hover {
      color: $nadeshiko-pink;
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      width: 70%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .page-upper-left-text {
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
  }

  .p-small {
    font-size: 25px;
  }

  .page-upper-left-text-item {
    margin-bottom: 70px;
  }

  .h-big {
    font-size: 40px;
    color: $fluo-pink;
  }

  .page-questions-title-item-1 {
    padding-top: 50px;
    p {
      color: $fluo-pink;
      font-size: 25px;
    }
  }

  .page-questions-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1 {
      width: 60%;
    }
  }

  .page-quotidiens-title-item-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .quotidien-title {
    font-size: 25px;
    color: white;
    text-decoration: none;

  }

  .page-quotidiens-cards-text {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      &:hover {
        color: $melon;
      }
    }
  }

  .page-entendus-title-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entendus-title {
    width: 180px;
    h4 {
      font-size: 25px;
    }
  }
}

